<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Personal Website{% endblock %}</title>
</head>

<body>

<header>
    <h1>Julio Morales-Mena</h1>
    <p>Computer Science & Data Science Enthusiast</p>
</header>

<nav>
    <a href="home.html">Home</a>
    <a href="about.html">About</a>
    <a href="portfolio.html">Portfolio</a>
    <a href="resume.html">Resume</a>
    <a href="contact.html">Contact</a>
</nav>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>&copy; 2024 Julio Morales-Mena | All Rights Reserved</p>
    <p><a href="mailto:julio.morales.mena@example.com">Contact Me</a></p>
</footer>

</body>
</html>
